<div *ngIf="albums && albums.length">
    <h3>Your music store is here!</h3>
    <ul>
        <li *ngFor="let album of albums">{{album.title}} - {{album.artist}} ({{album.year}})</li>
    </ul>    
</div>
<div>
    <!-- Area for mutation -->
     You can also create discs here : <br />
    <input type="text" placeholder="Title" [(ngModel)]='model.title' />
    <input type="text" placeholder="Artist" [(ngModel)]='model.artist'  />
    <input type="number" placeholder="Year" [(ngModel)]='model.year' />
    <button (click)='submitAlbum()'>Add</button>
</div>
